/* Variables */
:root {
  --color-accent: #ffd803;
  --color-accent1: #272343;
  --color-accent2: #2d334a;
  --color-primary: #fffffe;
  --color-secondary: #e3f6f5;
  --color-tertiary: #bae8e8;
  --dark-shadow-clear: rgba(255, 255, 255, 0.5);
  --dark-shadow: rgba(255, 255, 255, 0.2);
}

/* GENERAL */
*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
}

/* Text Styles */
html {
  font-size: calc(62.5% + 0.390625vw);
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 4.624rem;
}

h2 {
  font-size: 4.11rem;
}

h3 {
  font-size: 3.653rem;
}

h4 {
  font-size: 3.247rem;
}

h5 {
  font-size: 2.887rem;
}

h6 {
  font-size: 2.566rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

p,
a,
input,
address,
li {
  font-size: 1.802rem;
}

/* Navigation */
.nav-section {
  background-color: #d4d8f0;
}

.topnav {
  overflow: hidden;
  position: relative;
}

.topnav #navLinks {
  display: none;
}

.topnav a {
  color: #232946;
  padding: 1.2rem 1.4rem;
  text-decoration: none;
  font-size: 2.5rem;
  display: block;
}

.topnav a.hamburger-btn {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
