/* Variables */
:root {
  --color-accent: #ffd803;
  --color-accent1: #272343;
  --color-accent2: #2d334a;
  --color-primary: #fffffe;
  --color-secondary: #e3f6f5;
  --color-tertiary: #bae8e8;
  --dark-shadow-clear: rgba(255, 255, 255, 0.5);
  --dark-shadow: rgba(255, 255, 255, 0.2);
}

/* GENERAL */
*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px;
  width: 90%;
}

/* Text Styles */
html {
  font-size: calc(62.5% + 0.390625vw);
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

h1 {
  font-size: 3.653rem;
}

h2 {
  font-size: 3.247rem;
}

h3 {
  font-size: 2.887rem;
}

h4 {
  font-size: 2.566rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Merriweather", serif;
  margin: 0;
}

p,
a,
input,
address,
li {
  font-size: 1.802rem;
}

small,
small a {
  font-size: 1.125rem;
}

/* Navigation */
.nav-section {
  /* background-color: #d4d8f0; */
  border: 2px solid var(--color-accent1);
}

.topnav {
  overflow: hidden;
  position: relative;
}

.navLinks {
  display: none;
}

.showHide {
  display: block;
}

.topnav a,
.topnav button {
  color: var(--color-accent1);
  display: block;
  font-size: 2.5rem;
  padding: 1.2rem 1.4rem;
  text-decoration: none;
}

.topnav .hamburger-btn {
  background: transparent;
  border: none;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Footer */
.footer-section {
  background: var(--color-accent1);
  color: var(--color-primary);
  padding-top: 3.2rem;
  padding-bottom: 2.4rem;
}

.footer__logo-container,
.footer_dept-container,
.officehours-container {
  margin-bottom: 3.2rem;
}

footer h3 {
  font-size: 2.027rem;
}

.base-footer {
  border-top: 1px solid var(--color-secondary);
  margin-top: 6.4rem;
  padding-top: 0.8rem;
  text-align: center;
}

.address-container,
.officehours-container {
  padding: 0.8rem 0;
}

.officehours-container p {
  margin: 0;
}

.quicklinks-container ul {
  list-style: none;
  padding: 0;
}

footer a {
  color: var(--color-accent);
}

address {
  font-style: normal;
}

/* Hero Section */
.hero-container {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}

.cta {
  background: var(--color-accent);
  color: var(--color-accent1);
  padding: 1.2rem;
  text-decoration: none;
}

.hero-image {
  display: block;
  height: auto;
  margin: 3.2rem auto 0;
  max-width: 100%;
}
